<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>cadastrarCliente</servlet-name>
        <servlet-class>com.senac.astec.servlet.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarCliente</servlet-name>
        <servlet-class>com.senac.astec.servlet.ConsultarClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarFuncionario</servlet-name>
        <servlet-class>com.senac.astec.servlet.CadastrarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarImovel</servlet-name>
        <servlet-class>com.senac.astec.servlet.CadastrarImovelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>com.senac.astec.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarEmpresa</servlet-name>
        <servlet-class>com.senac.astec.servlet.CadastrarEmpresaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarCliente</servlet-name>
        <url-pattern>/cadastrar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarImovel</servlet-name>
        <url-pattern>/cadastrar-imovel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarFuncionario</servlet-name>
        <url-pattern>/cadastrar-funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarEmpresa</servlet-name>
        <url-pattern>/cadastrar-empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarClientes</servlet-name>
        <url-pattern>/consultar-clientes</url-pattern>
    </servlet-mapping>
</web-app>